{% extends "base.html" %}
{% block header %}
<!-- include summernote css/js -->
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>

<script>
    $(document).ready(function() {
        $('#id_info').summernote({
            toolbar: [
			    // [groupName, [list of button]]
			    ['fontname', ['fontname']],
			    ['fontsize', ['fontsize']],
			    ['style', ['bold', 'italic', 'underline','strikethrough', 'clear']],
			    ['color', ['forecolor','color']],
			    ['table', ['table']],
			    ['para', ['ul', 'ol', 'paragraph']],
			    ['height', ['height']],
			    ['insert',['picture','link','video']],
			    ['view', ['fullscreen', 'help']]
			],
			fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New','맑은 고딕','궁서','굴림체','굴림','돋움체','바탕체'],
			fontSizes: ['8','9','10','11','12','14','16','18','20','22','24','28','30','36','50','72'],
            tabsize: 2,
            height: 300
        });
    });
</script>
{% endblock %}
{% block contents %}
<div class="row mt-5">
    <div class="col-12">
        <h1>회원가입</h1>
    </div>
</div>
<div class="row mt-5">
    <div class="col-12">
        <form method="POST" action="">
            {% csrf_token %}
            {% for field in form %}
                    <label for="{{ field.id_for_label }}">{{field.label }}</label>
                {% ifequal field.name "info" %}
                    <textarea class="form-control" id="{{ field.id_for_label }}" placeholder="{{ field.label }}" name="{{ field.name }}"></textarea>
                {% else %}
                    <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.id_for_label }}" placeholder="{{ field.label }}" name="{{ field.name }}"/>
                {% endifequal %}
                {% if field.errors %}
                    <span style="color:red;">{{ field.errors }}</span>
                {% endif %}
            {% endfor %}
            <button class="w-100 btn btn-lg btn-primary" type="submit">등록</button> 
        </form>
    </div>
</div>
{% endblock %}