{% extends "base.html" %}
{% load humanize %}
{% block contents %}
<div class="row mt-5">
    <div class="col-12">
        <div class="card" style="width: 100%;">
            <div class="card-header">
                <h3>{{ product.name }}</h3>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">가격: {{ product.price|intcomma }}</li>
                <li class="list-group-item">재고: {{ product.stock }}</li>
                <li class="list-group-item">등록일: {{ product.creation_date|date:"Y-m-d" }}</li>
                <li class="list-group-item">등록일: {{ product.creation_date|date:"Y-m-d" }}</li>
                <li class="list-group-item">{{ product.info|safe }}</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
