asgiref==3.3.1
astroid==2.4.2
cachetools==4.2.1
certifi==2020.12.5
chardet==4.0.0
click==8.0.1
dataclasses==0.8
Django==3.1.5
django-baton==2.1.5
djangorestframework==3.12.2
greenlet==1.1.0
httplib2==0.19.1
idna==2.10
importlib-metadata==4.6.1
isort==5.7.0
itsdangerous==2.0.1
Jinja2==3.0.1
lazy-object-proxy==1.4.3
MarkupSafe==2.0.1
mccabe==0.6.1
packaging==20.9
protobuf==3.15.7
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pylint==2.6.0
pyparsing==2.4.7
pytz==2020.5
requests==2.25.1
rsa==4.7.2
six==1.15.0
sqlparse==0.4.1
toml==0.10.2
typed-ast==1.4.2
typing-extensions==3.10.0.0
uritemplate==3.0.1
urllib3==1.26.4
Werkzeug==2.0.1
wrapt==1.12.1
zipp==3.5.0
