{% extends "base.html" %}
{% block contents %}
<div class="row mt-5">
    <div class="col-12 text-center">
        <h1>회원가입</h1>
    </div>
</div>
<div class="row mt-5">
    <div class="col-12">
        {{ error }}
    </div>
</div>
<div class="row mt-5">
    <div class="col-12">
        <form method="POST" action="">
            {% csrf_token %}
            {% for field in form %}
                {% ifequal field.name "level" %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        <select class="form-select" aria-label="Default select example" name={{ field.name }}>
                            {% for item in field %}
                            <!-- item은 <option value="">""</option> 까지의 값을 출력 -->
                                {{ item }}
                            {% endfor %}
                        </select>
                        
                    </div>
                {% else %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        <input type ="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.id_for_label }}" placeholder="{{ field.label }}" name="{{ field.name }}">
                    </div>
                {% endifequal %}
                {% if field.errors %}
                    <span style="color: red">{{ field.errors }}</span>
                {% endif %}
            {% endfor %}
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
        </form>
    </div>
</div>
{% endblock %}